VITE_API_BASE_URL=http://localhost:4000/api
VITE_IMAGER_BASE_URL=https://imager.habcrab.com
VITE_BADGE_BASE_URL=https://swfs.habcrab.com/c_images/album1584
VITE_BADGE_EXT=.gif

VITE_MAIN_SITE_URL=http://localhost:4002
VITE_GUEST_REDIRECT_URL=/dashboard