:root {
    --bg-primary: #f0f0f0;
    --bg-brand: #FCA05E;
    --bg-success: #0E8F19;
    --bg-info: #FFD413;
    --bg-one: #1D1E2F;
    --bg-two: #19212C;
    --bg-three: #2E3440;
    --bg-four: #232732;
    --bg-five: #0f1415;
    --shadow-one: 0 4px 4px var(--bg-three), 0 6px 16px var(--bg-three);
    --color-brand: white;
    --color-success: white;
    --color-info: white;
    --color-one: #BBAD92;
    --color-two: #8f8f8f;
    --color-three: #2E3440;
    --color-four: #FCA05E;
    --header-height: 80px;
    --sidebar-width: 280px;
    --text-body: 16px;
    --text-small: 14px;
    --text-medium: 18px;
    --text-large: 22px;
    --radius-one: 6px;
    --radius-two: 6px;
    --space-one: 16px;
    --space-two: 20px;
    --main-max-width: 960px;
}

@media (min-width: 1080px) {
    :root {
        --main-max-width: 1080px;
    }
}

@media (min-width: 1300px) {
    :root {
        --main-max-width: 1280px;
    }
}
@media (min-width: 1920px) {
    :root {
        --main-max-width: 1800px;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-two);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-brand);
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MilkyNice', sans-serif;
    font-weight: 500;
    margin: 0;
}

html, body, p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

html, body {
    background: var(--bg-one);
    color:  var(--color-one);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    font-size: var(--text-body);
}

header {
    background: var(--bg-two);
    border-bottom: 1px solid var(--bg-three);
    display: flex;
    width: 100%;
    height: var(--header-height);
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

header .brand-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: calc(var(--sidebar-width) - 10px);
    padding-top: 4px;
}

header .actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
}

header .enter-hotel-btn {
    cursor: pointer;
    background: #489253;
    color: black;
    font-weight: 800;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
}

.text-logo {
    color: var(--bg-brand);
    font-family: 'MilkyNice', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

header .logo {
    object-fit: cover;
    height: 50px;
}

header .text-logo  {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#sidebar {
    background: var(--bg-two);
    border-right: 2px solid var(--bg-three);
    display: flex;
    gap: 14px;
    flex-direction: column;
    width: var(--sidebar-width);
    height: calc(100% - var(--header-height));
    position: fixed;
    top: var(--header-height);
    left: 0;
}

#sidebar .user-area {
    align-items: center;
    background: var(--bg-three);
    background-image: url('/img/bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.avatar-container {
    border-radius: 50%;
    border: 2px solid var(--bg-three);
    background: var(--bg-brand);
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container .avatar {
    height: 160px;
    width: 128px;
    object-fit: cover;
    margin-top: 5px;
}
.avatar-container .status {
    height: 21px;
    width: 42px;
    object-fit: cover;
    margin-top: 25px;
}



#sidebar .user-area .quick-stats {
    align-items: center;
    display: flex;
    gap: 14px;
    justify-content: center;
    width: 100%;
}

#sidebar .user-area .quick-stats .stat-block {
    align-items: center;
    color: var(--color-one);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 14px;
    border-right: 1px solid var(--bg-four);
}

#sidebar .user-area .quick-stats .stat-block:last-child {
    padding-right: 0;
    border-right: none;
}

#sidebar .user-area .quick-stats .stat-block h3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

#sidebar .user-area .quick-stats .stat-block p {
    margin: 0;
    font-size: 12px;
}


#sidebar .navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

#sidebar .navigation a {
    display: block;
    border-radius: var(--radius-one);
    border: 1px solid transparent;
    color: var(--color-one);
    font-size: var(--text-medium);
    padding: var(--space-one) var(--space-two);
    text-decoration: none;
    width: 80%;
}

#sidebar .navigation a i {
    width: 20px;
    padding-right: 14px;
}

#sidebar .navigation a:hover {
    border-color: var(--bg-two);
    background-color: var(--color-four);
    color: var(--color-brand);
}

#sidebar .navigation .active, #sidebar .navigation .current {
    border-color: var(--bg-two);
    background-color: var(--color-four);
    color: var(--color-brand);
}
#sidebar footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    height: 40px;
}

#sidebar footer a {
    color: var(--color-brand);
    font-family: 'MilkyNice', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding-left: 4px;
    padding-right: 4px;
}

#sidebar footer a:hover {
    border-color: var(--color-four);
}

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--header-height) - var(--space-two));
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    overflow: auto;
    z-index: 100;
}


.main-content {
    width: 100%;
    max-width: var(--main-max-width);
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--space-one));
    margin-top: var(--space-one);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 14px;
}

.card {
    background-color: var(--bg-three);
    border-radius: var(--radius-two);
    border: 1px solid var(--bg-four);
    backdrop-filter: blur(4px) brightness(1.2);
    -webkit-backdrop-filter: blur(4px) brightness(1.2);
    box-shadow: var(--shadow-one);
    padding: var(--space-one);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.card h2 {
    margin-top: calc(-1 * var(--space-one) + 8px);
    font-size: var(--text-medium);
}

.card p {
    font-size: var(--text-body);
}

.grid {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    overflow: visible;
}

[class*="col-"] {
    flex: 0 0 calc((100% / 12) * var(--columns) - 10px);
    box-sizing: border-box;
}

.col-1 { --columns: 1; }
.col-2 { --columns: 2; }
.col-3 { --columns: 3; }
.col-4 { --columns: 4; }
.col-5 { --columns: 5; }
.col-6 { --columns: 6; }
.col-7 { --columns: 7; }
.col-8 { --columns: 8; }
.col-9 { --columns: 9; }
.col-10 { --columns: 10; }
.col-11 { --columns: 11; }
.col-12 { --columns: 12; }

button {
    background: var(--bg-four);
    border: 1px solid var(--bg-three);
    border-radius: var(--radius-one);
    cursor: pointer;
    color: var(--color-one);
    padding: var(--space-one);
}

button:hover {
    filter: brightness(150%);
}

.bg-brand {
    background: var(--bg-brand);
}

.bg-success {
    background: var(--bg-success);
}

.bg-info {
    background: var(--bg-info);
}

.text-success {
    color: var(--color-success);
    border-color: var(--color-success);
}

.text-info {
    color: var(--color-info);
    border-color: var(--color-info);
}

a {
    text-decoration: none;;
}
h1 {
    font-size: 24px;
    color: var(--color-four);
    margin-bottom: 20px;
}

.links-container {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

.links-container span {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: var(--radius-one);
    background: var(--bg-three);
    color: var(--color-one);
    white-space: nowrap;
}

.links-container span.active {
    background: var(--bg-brand);
    color: black;
}

.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-page a {
  margin: 0;
  padding: 0;
}

.login-page button {
  width: 100%;
  height: 100%;
}

.login-page .container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.login-page .logo {
  margin: 0;
}

.login-page .logo img {
  width: 150px;
}

.login-page .login-box {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
}

.login-page .online-status {
  margin: 0;
  font-weight: bold;
}

.login-page h2 {
  margin: 0
}

.login-page p {
    margin: 0;
    padding-bottom: 14px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-page label {
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  margin-bottom: -10px;
}

.login-page input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-page .password-box {
  position: relative;
}

.login-page .password-box input {
  width: 100%;
}

.login-page .password-box .toggle-visibility {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.login-page .success-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-page .success-btn:hover {
  background-color: #218838;
}

.login-page .info-btn {
  background-color: #3c8dc7;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-page .info-btn:hover {
  background-color: rgb(33, 129, 136);
}

.login-page .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.login-page .actions a {
  color: #61dafb;
  text-decoration: none;
  font-size: 14px;
}

.login-page .actions a:hover {
  text-decoration: underline;
}

.login-page footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.login-page footer a:hover {
  border-color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead th {
  background: #f8f9fa;
  color: #343a40;
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #dee2e6;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
  text-align: left;
  white-space: nowrap;
}

tbody tr {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

tbody tr:hover {
  background: var(--bg-two);
}

tbody a {
    color: var(--bg-brand);
    text-decoration: none;
}
tbody a:hover {
    color: var(--color-brand);
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    gap: var(--space-one);
    height: 100%;
    width: 100%;
}

input, textarea {
    background: var(--bg-four);
    border-color: transparent;
    border-radius: var(--radius-one);
    color: var(--color-one);
    padding: 8px;
    margin: 0;
    margin-top: -10px;
}

.ql-toolbar {
  background: var(--bg-four);
  border: none;
  color: var(--color-one) !important;
}

.ql-toolbar button {
  color: var(--color-one) !important;
}

.ql-container {
  background: var(--bg-four);
  color: var(--color-one) !important;
  border: 1px solid #444;
}

.ql-editor {
    min-height: 450px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.ql-editor strong {
    color: var(--bg-brand);
}

.ql-editor a {
    color: var(--bg-brand) !important;
}

.ql-editor blockquote {
    border-left: 4px solid var(--bg-brand);
    padding-left: 10px;
}

.ql-editor pre {
    background: var(--bg-three);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.ql-toolbar button:hover {
    background: var(--bg-three) !important;
}

.ql-snow .ql-stroke {
    stroke: var(--bg-three) !important;
}

.ql-snow .ql-fill {
    fill: var(--bg-three) !important;
}
